<div class="page-header">
  <h1>Posts</h1>
</div>

<div class="row">
  <div class="col-md-3" *ngFor="let post of Posts">
      <div class="panel panel-default">
          <div class="panel-body">
            <img class="image-responsive" src="../../../assets/img/angular.svg" alt="angular">
          </div>
          <div class="panel-footer white-color text-center">{{posts.nombre}}</div>
        </div>
  </div>
</div>